In [1]:
import pandas as pd
from glob import glob

In [4]:
df = pd.read_csv('/workspace/shbaek/template_project/image_classification/data/01_splitdataset/filenames.csv')
df.groupby(['phase']).count()

       filename  target
phase
test       6900    6900
train     55193   55193
val        6899    6899