In [6]:
import os
import sys

PROJECT_DIR = os.path.dirname(os.getcwd())
sys.path.append(PROJECT_DIR)

from modules.utils import load_json, load_pickle
import pandas as pd
from sklearn.metrics import classification_report

In [12]:

predict_serial = '20210829_170539_20210829_175308'

predict_dir = os.path.join(PROJECT_DIR, 'results', 'predict', predict_serial)
gt = load_json(os.path.join(predict_dir, 'gt.json'))
pred = load_json(os.path.join(predict_dir, 'pred.json'))

filenames = list(gt.keys())
gts = list(gt.values())
preds = list(pred.values())

df = pd.DataFrame.from_dict({'filename': filenames, 'gt': gts, 'pred': preds})

clf_report = classification_report(gts, preds, digits=4, zero_division=False)
cm = pd.crosstab(df['gt'], df['pred'], margins=True)

print(clf_report)
display(cm)

              precision    recall  f1-score   support

           0     0.2667    1.0000    0.4211         4
           1     0.7143    0.8333    0.7692         6
           2     0.3333    0.2857    0.3077         7
           3     0.3684    0.7778    0.5000         9
           4     0.0000    0.0000    0.0000         6
           5     0.0000    0.0000    0.0000         7
           6     0.0000    0.0000    0.0000         6
           7     0.5238    0.9167    0.6667        12
           8     0.0000    0.0000    0.0000         5
           9     0.0000    0.0000    0.0000         7

    accuracy                         0.4203        69
   macro avg     0.2207    0.3813    0.2665        69
weighted avg     0.2505    0.4203    0.3037        69

pred   0  1  2   3  6   7  All
gt
0      4  0  0   0  0   0    4
1      0  5  0   1  0   0    6
2      1  1  2   3  0   0    7
3      0  0  2   7  0   0    9
4      2  0  0   1  0   3    6
5      2  1  2   1  1   0    7
6      4  0  0   2  0   0    6
7      1  0  0   0  0  11   12
8      1  0  0   4  0   0    5
9      0  0  0   0  0   7    7
All   15  7  6  19  1  21   69